<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/logo.svg" alt="Sayme"></a>
    <ul class="navbar-nav d-none d-md-flex flex-nowrap flex-row">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets/google-play.png" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets/appstore.png" alt="">
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row g-3">
    <div class="col-12">
      <div class="jumbotron ratio ratio-16x9 d-none d-md-block">
        <div>
          <h1>Подари улыбку</h1>
          <p>Скачивай приложение<br />и заказывай поздравления от талантов</p>
        </div>
      </div>
      <div class="jumbotron d-md-none">
        <div>
          <h1>Подари улыбку</h1>
          <p>Скачивай приложение и заказывай поздравления от талантов</p>
          <img src="assets/promo.svg" alt="">
        </div>
      </div>
    </div>
    <div class="col col-12 col-md-4">
      <div class="app-preview d-flex flex-column justify-content-between">
        <div class="badge rounded-circle bg-success">01</div>
        <h3>Найди нужного таланта</h3>
        <p>Изучай наши подборки или ищи по ключевым словам и тэгам.</p>
        <img src="assets/card1.png" alt="" class="d-none d-md-block">
      </div>
    </div>
    <div class="col col-12 col-md-4">
      <div class="app-preview d-flex flex-column justify-content-between">
        <div class="badge rounded-circle bg-success">02</div>
        <h3>Закажи поздравление</h3>
        <p>Укажи, для кого это видео и о чем оно будет.</p>
        <img src="assets/card2.png" alt="" class="d-none d-md-block">
      </div>
    </div>
    <div class="col col-12 col-md-4">
      <div class="app-preview d-flex flex-column justify-content-between">
        <div class="badge rounded-circle bg-success">03</div>
        <h3>Поделись видео и оставь отзыв</h3>
        <p>После того как видео будет готово, поделись им в любой соцсети.</p>
        <img src="assets/card3.png" alt="" class="d-none d-md-block">
      </div>
    </div>
    <div class="col col-12 col-md-4">
      <div class="links d-flex flex-column justify-content-between">
        <h4>Следи за обновлениями в социальных сетях:</h4>
        <div class="d-flex justify-content-between">
          <a href="">
            <img src="assets/vk.svg" alt="vk">
          </a>
          <a href="">
            <img src="assets/instagram.svg" alt="instagram">
          </a>
          <a href="">
            <img src="assets/facebook.svg" alt="facebook">
          </a>
        </div>
      </div>
    </div>
    <div class="col col-12 col-md-8">
      <div class="download bg-success d-flex flex-column justify-content-between">
        <h2>Качай приложение<br />и дари эмоции с sayme</h2>
        <div>
          <a class="nav-link" href="#">
            <img src="assets/google-play.png" alt="">
          </a>
          <a class="nav-link" href="#">
            <img src="assets/appstore.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
