<div class="jumblotron">
  <h3>Подари улыбку</h3>
  <p>Скачивай приложение и заказывай поздравления от талантов</p>
</div>

<div class="container">
<div class="row g-5">
  <div class="col col-4">
    <h3>Найди нужного таланта</h3>
    <p>Изучай наши подборки или ищи по ключевым словам и тэгам.</p>
    <img src="assets/card1.png">
  </div>
  <div class="col col-4">
    <h3>Закажи поздравление</h3>
    <p>Укажи, для кого это видео и о чем оно будет.</p>
    <img src="assets/card2.png">
  </div>
  <div class="col col-4">
    <h3>Поделись видео и оставь отзыв</h3>
    <p>После того как видео будет готово, поделись им в любой соцсети.</p>
    <img src="assets/card3.png">
  </div>
</div>
<div class="row g-5">
  <div class="col col-4">
    Следи за обновлениями в социальных сетях:
  </div>
  <div class="col col-8">
    Качай приложение и дари эмоции с sayme
  </div>
</div>

</div>
