$dark: #000;
$body-bg: #000;
$body-color: #000;
$font-family-sans-serif: "PT Root UI", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$success: #3CA780;
$h1-font-size: 34px;
$h2-font-size: 28px;
$h3-font-size: 24px;
$h4-font-size: 28px;
$headings-font-family: Nunito, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$success: #3CA780;
